{% extends 'base.html.twig' %}

{% block title %}Picture of the Day
{% endblock %}

{% block body %}
	<div class="main-wrapper">
		<h1>Astronomy Photo of the Day</h1>

		<h2>{{ picture.title }}
			<small>{{ picture.date | date('d/m/Y') }}
			</small>
		</h2>

		<div>
			<figure>
				<img src="{{ picture.url }}" alt="{{ picture.title }}">
				<figcaption>&copy;
					{{ picture.copyright }}</figcaption>
			</figure>
			<p>{{ picture.explanation }}</p>
		</div>
	</div>
{% endblock %}
